<!DOCTYPE html>
<html lang="en">
  <%- include partials/head.ejs %>
<body>

  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">MEAN STACK</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </nav>
  </header>

  <main>
    <div class="container">
      
      <!--heading-->
      <div class="row">
        <div class="col-lg-6">
          <h1>About</h1>
        </div>
      </div>
      <!--heading-->

      <!--horizontal line-->
      <hr size="10">
      <!--horizontal line-->

    <div class="container">
            <div row>
                    <div col-xs-12 col-sm-12>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </h5>
                    <p>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in. Amet commodo nulla facilisi nullam. Cursus metus aliquam eleifend mi in nulla posuere. Pharetra pharetra massa massa ultricies. Tortor id aliquet lectus proin. Porttitor leo a diam sollicitudin.</p>
                    <br>
                    <p>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ornare lectus sit amet est placerat in. Amet commodo nulla facilisi nullam. Cursus metus aliquam eleifend mi in nulla posuere. Pharetra pharetra massa massa ultricies. Tortor id aliquet lectus proin. Porttitor leo a diam sollicitudin.</p>
                    </div>
                </div> 
    </div>     

    </div>
  </main>

  <footer class="footer">
    <p>MAKU PAULINE MAZAKPE 2018</p>
  </footer>
  
  <%- include partials/script.ejs %>
</body>
</html>